<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IQKeyboardManagerTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D72AC5C41DC9AB04001487C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D72AC5DD1DC9AB04001487C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D72AC5E81DC9AB04001487C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
